@model KartverketWebApp.Models.CombinedViewModel

<table class="table">
    <thead>
        <tr>
            <th>Kart Tittel</th>
            <th>Innsender</th>
            <th>Kart</th>
            <th>Kommune</th>
            <th>Fylke</th>
            <th>Opprettet</th>
            <th>Rapport Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rapport in Model.Rapporter)
        {
            var url = Url.Action("RapportDetaljert", "Home", new { id = rapport.RapportId });

            <tr onclick="location.href='@url'" style="cursor:pointer">
                <td>@rapport.Kart?.Tittel</td>
                <td>@rapport.Person?.Fornavn @rapport.Person?.Etternavn</td>
                <td>@rapport.Kart?.MapType</td>
                <td>@rapport.Kart?.Steddata?.Kommunenavn</td> <!-- Access Kommunenavn from Steddata -->
                <td>@rapport.Kart?.Steddata?.Fylkenavn</td>   <!-- Access Fylkenavn from Steddata -->
                <td>@rapport.Opprettet.ToString("dd.MM.yyyy")</td>
                <td>@rapport.RapportStatus</td>
            </tr>
        }
    </tbody>
